*.git
*.vs
/Hello World/Hello World/bin
/Hello World/Hello World/obj/debug
/Hello World/Hello World/obj/Release

/TryAndCatch/TryAndCatch/bin
/TryAndCatch/TryAndCatch/obj/debug
/TryAndCatch/TryAndCatch/obj/Release

/Operators/bin
/Operators/obj/debug
/Operators/obj/Release

/Loops/bin
/Loops/obj/debug
/Loops/obj/Release

/OOP/bin
/OOP/obj/debug
/OOP/obj/Release